:root {
  --border-color: oklch(74.8% 0.26 342.55 / 1);
}
body {
  background-color: black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center horizontally */
  justify-content: center;
  /* Center vertically */
  padding: 1.5rem;
  min-height: 100vh;
  /* Ensure it takes the full viewport height */
  box-sizing: border-box;
  /* Ensure padding doesn't affect height calculations */
}

button {
  margin: 10px;
}
.flex {
  margin-bottom: 20px;
}

.tasks {
  padding: 2rem;
  margin: 8px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  background: linear-gradient(var(--primary-color), var(--secondary-color)),
    linear-gradient(135deg, var(--highlight-color), var(--primary-color));
}

.tasksContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.task {
  padding: 1rem;
  display: flex;
  gap: 32px;
}
.task-active {
  display: none;
}
.task-inactive {
}
.inputField {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
